<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                color: #000000;
                font-weight: bold;
            }
            a:link{
                text-decoration: none;
                color: #00f;
            }
            a:hover{
                text-decoration: none;
                color: #0000aa;
            }
            a:active{
                text-decoration: none;
                color: #0000aa;
            }
            a:visited{
                text-decoration: none;
                color: #0000aa;
            }
            #title{
                text-align: center;
            }
            .section{
                width: 50%;
                margin: auto;
            }
            #result{
                display: inline;
            }
            table{
                width: 100%;
                margin-bottom: 15px;
            }
            table, td, th{
                border: 1px solid #000;
                text-align: center;
                border-collapse: collapse;
            }
            td{
                font-size: 300%;
                padding: 10px;
            }
            img{
                width: 200px;
                height: 200px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                text-align: center;
            }
            .inputfile {
                width: 1px;
                height: 1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .submit-button,
            .inputfile + label {
                width: 150px;
                text-align: center;
                font-size: 1.25em;
                font-weight: 700;
                color: white;
                background-color: #000;
                display: inline-block;
                padding: 3px;
                border-radius: 3px;
                border: 0px;
            }

            .inputfile:focus + label,
            .inputfile + label:hover,
            .submit-button:hover {
                background-color: #333;
            }

            .inputfile + label{
                cursor: pointer;
            }
            .inputfile:focus + label {
                outline: 1px dotted #000;
                outline: -webkit-focus-ring-color auto 5px;
            }
            .footer{
                text-align: center;
                padding-bottom: 15px;
                margin: 0px;
                padding-top: 0px;
            }
            .pad{
                height: 260px;
            }
        </style>
    </head>
    <body>
        <div id='modal' class='modal fade' role='dialog'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-body'>
                        Sorry, the image type is not supported. This demo supports a wide variety 
                        of raster file formats. They are: gif, jpeg, jpeg 2000, bmp, eps, icns,
                        im, msp, pcx, png, ppm, spider, tiff, webp, xbm, cur, dcx, dds, fli, flc,
                        fpx, ftex, gbr, gd, ico, imt, iptc, naa, mcidas, mic, mpo, pcd, pixar, psd, 
                        sgi, tga, wal, xpm.
                    </div>
                </div>
            </div>
        </div>
        {% if invalid_file_format %}
        <script>
            $('#modal').modal('show');
        </script>
        {% endif %}
        <div class='section'>
            <h1 id='title'>Digit Recognition Demo</h1>
            {% load static %}
            <form action="/recognize/predict/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    This demo takes an image of a digit and then recognizes the value of it. The image should 
                    be drawed by using a software with black color on white background. We recommend drawing 
                    your image in <a target='_blank' href='https://sketch.io/sketchpad/'>here</a> and downloading it back to 
                    your computer. The image should contain only one digit. You can download some example images 
                    <a href="{% static 'example.zip' %}" download>here.</a>
                </div>
                <br>
                <div>
                    Now, please upload a digit image file from your computer: <br><br>
                    <input id='file' class='inputfile' type='file' name='image' accept='image/*' required data-multiple-caption="{count} files selected" />
                    <label for='file'>Choose a file</label>
                </div>
                <br>
                <div>
                    Click this button to recognize it:<br><br>
                    <input type='submit' value='recognize' class='submit-button'>
                </div>
            </form>
            <br>
            <!-- display result -->
            <div class='pad'></div>
            {% if digit %} 
            <div>The result is:</div><br>
            <table>
                <tr>
                    <th>Selected image</th>
                    <th>Result</th>
                </tr>
                </tr>
                    <td>
                        <img src="{% static 'images/im' %}">
                    </td>
                    <td>{{digit}}</td>
                </tr>
            </table>
            <script>
                document.getElementsByClassName('pad')[0].style.height='0px';
            </script>
            {% endif %}
            <div class='footer'>Developed by ARROW Technologies LAB</div>
        </div>

        <script>
            var inputs = document.querySelectorAll( '.inputfile' );
            Array.prototype.forEach.call( inputs, function( input )
            {
                var label	 = input.nextElementSibling,
                    labelVal = label.innerHTML;

                input.addEventListener( 'change', function( e )
                {
                    var fileName = '';
                    fileName = e.target.value.split( '\\' ).pop();
                    label.innerHTML = fileName;
                });
            });
        </script>
    </body>
</html>